@{
    ViewBag.Title = "...";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div style="background-image:url(http://images.psxextreme.com/wallpapers/psp/the_cake_is_a_lie_515.jpg)">
<h1 style="color:white"> THE CAKE IS A LIE</h1>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>
<p style="color:white">The cake is a lie</p>

</div>