
@{
    ViewBag.Title = "Sparta";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sparta page</title>
</head>
<body>
    <div style="background-color:gray"></div>
    </body>
</html>
